version: '3.8'

services:
  app:
    build:
      context: ../..
      dockerfile: apps/${APP_NAME}/Dockerfile
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
    restart: unless-stopped
